<div class="headerContainer">
  <div class="headerWrapper">
    <div class="header">
      <div class="header-logo"><img src="" alt=""></div>
      <div class="header-navigation">
        <ul class="navigationList">
          <li class="navigationList-item"><a href="">Home</a></li>
          <li class="navigationList-item"><a href="">Gallery</a></li>
          <li class="navigationList-item"><a href="">Search</a></li>
        </ul></div>
      <div class="header-profile"></div>
    </div>
  </div>
</div>
