.headerWrapper{
  background-color: #a4e2ff;
  width:100%;
}
.header{
  display: flex;
  width:60%;
  margin:0 auto;
}
.navigationList{
  display: flex;
  &-item{
    list-style: none;
    color:white;
    text-decoration: none;
  }
}
